.container{
    padding:30px;
}

.charts{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
    gap:25px;
}

.chart-card{
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}