body{
    font-family:Arial;
    background:#f4f6f9;
    padding:20px;
}

.card{
    background:#fff;
    padding:15px;
    margin-bottom:15px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

button{
    margin-top:10px;
    margin-right:10px;
}